body {
  margin: 0px;
  padding: 0px;
}

.au {
  background-image: url("img/background_au.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100vh;
  color: #fbf0a3;
}

.au__title {
  height: 40px;
  width: 150px;
  color: #fbf0a3;
  margin-left: 695px;
  position: absolute;
}

.au__text {
  max-height: 300px;
  margin-left: 100px;
  margin-top: 210px;
  font-size: 36px;
}

.img1 {
  margin-top: 210px;
  width: 298px;
  height: 281px;
  margin-left: 50px;
}

.img2 {
  width: 298px;
  height: 281px;
  margin-top: 215px;
  margin-left: 50px;
}

.header {
  background-color: #2D343C;
}

.header__logo {
  max-height: 80px;
  max-width: 80px;
}

.header__container {
  display: flex;
  max-width: 1200px;
  justify-content: space-between;
  margin: 0px auto;
  height: 80px;
  align-items: center;
}

.header__menu {
  color: #fbf0a3;
  display: flex;
  width: 700px;
  justify-content: space-between;
  align-items: center;
}

.header__link {
  color: #fbf0a3;
  font-size: 20px;
  text-decoration: none;
}

footer {
  background-color: #2D343C;
  height: 256px;
  width: 100%;
  display: flex;
  margin-top: auto;
  position: relative;
  bottom: 0;
}

.footer__content {
  margin-top: 40px;
  color: #fbf0a3;
  font-size: 16px;
  display: flex;
  flex-wrap: wrap;
}

footer img {
  margin-top: 70px;
  margin-left: 80px;
  width: 200px;
  height: 200px;
  max-width: 100%;
}

.footer__link {
  color: #fbf0a3;
  margin-left: 100px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  max-width: 100px;
}

.footer__link a {
  margin-bottom: 10px;
}

.Real {
  color: #ffffff;
  font-size: 28px;
  margin-left: 150px;
  margin-top: 70px;
  max-height: 180px;
  max-width: 400px;
}

.em {
  color: #fbf0a3;
  max-height: 30px;
  margin-top: 180px;
  margin-left: 80px;
}

.soc img {
  margin-top: 150px;
  margin-right: 100px;
  max-height: 80px;
  max-width: 200px;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.blink-animation {
  animation: blink 1s infinite;
}

/* Mobile devices */
@media (max-width: 520px) {
  .header__container {
    flex-direction: column;
    align-items: center;
  }

  .header__menu {
    flex-direction: column;
    justify-content: center;
    width: 100%;
  }

  .header__link {
    margin-bottom: 20px;
  }

  footer {
    max-width: 100%;
    padding: 20px;
  }

  .footer__content {
    margin-top: 0;
    font-size: 20px;
  }

  footer img {
    margin: 20px auto;
  }

  .Real {
    margin-left: 0;
    margin-top: 20px;
    text-align: center;
  }

  .em {
    margin-top: 20px;
    margin-left: 0;
    text-align: center;
  }

  .soc img {
    margin: 20px auto;
  }
}
